.subHeader {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(../../images/home.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.textBox {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text1Box {
    top: 50%;
  }

.textBox h1{
    color: #fff;
    font-size: 3.5rem;
    /* font-size: 32px; */
  }

  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
.aboutUs {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
.aboutCol {
    flex-basis: 48%;
    padding: 30px 2px;
  }
.aboutCol img {
    width: 100%;
  }
 .aboutHead {
    padding-top: 0;
    font-size: 1.8rem;
  }
.aboutCol p {
    padding: 15px 0 25px;
    font-size: 0.9rem;
    color: #777;
    font-weight: 300;
  }

.btnn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: grey;
    position: relative;
    /* margin: 0 auto; */
    margin-left: 10rem;
  
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  .btnn:hover {
    border: 1px solid #0088a9;
    background: #0088a9;
    transition: 1s;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .subHeader {
      height: 50vh;
    }
    .text1Box {
      top: 40%;
    }
  }
  @media (max-width: 767px) {
    .subHeader {
      height: 40vh;
    }
    .text1Box {
      top: 30%;
    }
  }