* {
  margin: 0;
  padding: 0;
}
#data {
  display: inline-block;
  margin: 10px auto;
  background: transparent;
  width: 100vw;
  text-align: center;
}
input {
  display: inline-block;

  border: 1px solid #0088a9;
  background: transparent;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button {
  background-color: #0088a9;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  padding: 10px 25px;
  margin-top: 20px;
  cursor: pointer;
}

.table-box {
  margin: none;
}
.table-row {
  display: table;
  width: 80%;
  margin: 10px auto;
  font-family: sans-serif;
  background: transparent;
  padding: 12px 0;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.table-cell {
  display: table-cell;
  width: 30%;
  text-align: center;
  padding: 4px 0;
  border-right: 1px solid #d6d4d4;
  vertical-align: middle;
}
.table-head {
  background: #0088a9;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}
.table-head .table-cell {
  border-right: none;
}
.last-cell {
  border-right: none;
}
.icons {
  color: #0088a9;
}
.icons .fa {
  margin: 0 13px;
  cursor: pointer;
}
a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.5);
}
.pencil:hover {
  color: darkgreen;
}
.trash:hover {
  color: red;
}
.bell:hover {
  color: maroon;
}
