* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #edeef6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.btn {
  display: inline-block;
  color: #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: grey;
  position: relative;
  /* positon button here */
  top: 150px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  border: 1px solid #0088a9;
  background: #0088a9;
  transition: 1s;
}
button {
  background-color: #0088a9;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  padding: 10px 25px;
  margin-top: 20px;
}
textarea {
  border: none;
  outline-style: none;
  margin: 0;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 300px;
  position: relative;
  /* edit this for position */
  top: 50px;
  max-width: 100%;
  text-align: center;
}
