* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Poppins", sans-serif;
}

.loginBox {
  padding-top: 20rem;
  background-color: #fffbfa;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 970px;
  height: 680px;
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 22px 65px rgba(227, 0, 162, 0.2);
  padding: 20px;
  margin-top: 180px;
}
.login .image img {
  width: 420px;
  height: 540px;
  border-radius: 10px;
}
.login .details {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  height: 640px;
}
.login .details .title {
  font-size: 22px;
  margin-top: 68px;
}
.login .details .input {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 33px;
}
.login .details .input label {
  font-size: 16px;
}
.login .details .input input {
  width: 314px;
  height: 58px;
  font-size: 16px;
  padding: 20px;
  margin-top: 8px;
  background-color: #fffbfa;
  border: 1px solid #d9d5d4;
  border-radius: 5px;
  color: rgba(22, 28, 50, 0.5);
}

.login .details .loginButton {
  background-color: #a04625;
  width: 314px;
  height: 58px;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 18px 23px rgba(227, 160, 77, 0.49);
  margin-top: 20px;
  cursor: pointer;
}
.login .details .signup {
  display: block;
  color: #0d65c2;
  margin-top: 50px;
}
