/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 22px 10%;
  background-color: #252525;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

.logo a {
  color: #fff;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
} */



* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100000;
  background-color: rgb(48, 44, 44);
  /* height: 8rem; */
}

.navBackground {
  background-color: rgb(48, 44, 44);
}

nav {
  display: flex;
  padding: 0 6rem;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  height: 7rem;
  transition: height 0.5s;
}

/* .header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/homi.png);
  background-position: center;
  background-size: cover;
  position: relative;
} */
nav img {
  width: 200px;
  position: relative;
  vertical-align: middle;
  /* height: 100px; */
}

/* nav #logo {
  align-self: center;
} */

.navLinks {
  flex: 1;
  text-align: right;
}
.navLinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.navLinks ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.navLinks ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0088a9;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navLinks ul li :hover::after {
  width: 100%;
}
/* .textBox {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.textBox h1 {
  font-size: 70px;
}
.textBox p {
  margin: 10px 0 40px;
  font-size: 17px;
  color: #fff;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 20%;
  box-shadow: 3px 3px bisque;
}
.btn:hover {
  border: 1px solid #0088a9;
  background: #0088a9;
  transition: 1s;
} */
nav .fa {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .textBox h1 {
    font-size: 40px;
  }
  .textBox p {
    font-size: 15px;
  }
  .nav-Links ul li {
    display: block;
  }
  .nav-Links {
    position: absolute;
    background: #0088a9;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -400px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-Links ul {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .textBox h1 {
    font-size: 30px;
  }

  .textBox p {
    font-size: 12px;
  }
  .nav-Links ul li {
    display: block;
  }
  .nav-Links {
    position: absolute;
    background: #0088a9;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -400px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-Links ul {
    padding: 10px;
  }
}