.profitAlert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin: 0 auto;
}

.btnicons {
    margin-left: 1rem;
}

.btnicons i {
    font-size: 1.6rem;
    cursor: pointer;
}