#data {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 60vw;
    text-align: center;
    margin: 3rem auto;
  }
  select, input {
    /* display: block;   */
    border: 1px solid #0088a9;
    background: transparent;
    width: 15rem;
    height: 3rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-self: center;
  }

  button {
    background-color: #0088a9;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 13px;
    padding: 10px 25px;
    /* margin-top: 20px; */
    margin-left: 3rem;
    cursor: pointer;
  }
  

  .investment p{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-left: 1rem;
  }
  
  #watchlistHead{
    color: #FAFFAF;
  }

  
  .cards .card {
    width: 300px;
    max-width: 300px;
    margin: 12px;
    padding: 1.5rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 26px -17px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: 0.3s all;
  }

  .investment {
    background-color: #0088a9;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 1200px;
  }

  .tableCell {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 30%; */
    text-align: center;
    margin-top: 1rem;
    padding: 5px 0;
    /* border-right: 1px solid #d6d4d4; */
    vertical-align: middle;

  }


  a.icons i {
    color: #f9d1d1;
  }
  
  .icons .fa {
    font-size: 1.6rem;
    margin: 0 13px;
    cursor: pointer;
  }

  a i {
    transition: all 0.3s linear;
  }
  
  a i:hover {
    transform: scale(1.5);
  }
  

  .trash:hover {
    color: red;
  }
  .bell:hover {
    color: darkgreen;
  }
  

  